doctype html
html(lang="en")
	head
		title= Pug
		link(rel='stylesheet' href="css/main.min.css")

	body
		h1 Всё работает

		p loremloremloremloremloremloremloremloremloremloremloremloremloremloremloremloremloremloremloremloremloremlorem
	
	script(src='js/main.js')